/MessageServer/bin/Debug/MessageServer.exe
/MessageServer/bin/Debug/MessageServer.exe.config
/MessageServer/bin/Debug/MessageServer.pdb
/MessageServer/bin/Debug/Microsoft.Azure.Services.AppAuthentication.dll
/MessageServer/bin/Debug/Microsoft.Azure.Services.AppAuthentication.xml
/MessageServer/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
/MessageServer/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.xml
/MessageServer/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/MessageServer/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
/MessageServer/bin/Debug/Microsoft.Rest.ClientRuntime.dll
/MessageServer/bin/Debug/Microsoft.Rest.ClientRuntime.xml
/MessageServer/bin/Debug/Microsoft.ServiceBus.dll
/MessageServer/bin/Debug/Microsoft.ServiceBus.xml
/MessageServer/bin/Debug/Newtonsoft.Json.dll
/MessageServer/bin/Debug/Newtonsoft.Json.xml
/MessageServer/bin/Debug/System.IdentityModel.Tokens.Jwt.dll
/MessageServer/bin/Debug/System.IdentityModel.Tokens.Jwt.xml
/MessageServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MessageServer/obj/Debug/MessageServer.csproj.CopyComplete
/MessageServer/obj/Debug/MessageServer.csproj.CoreCompileInputs.cache
/MessageServer/obj/Debug/MessageServer.csproj.FileListAbsolute.txt
/MessageServer/obj/Debug/MessageServer.csprojAssemblyReference.cache
/MessageServer/obj/Debug/MessageServer.exe
/MessageServer/obj/Debug/MessageServer.pdb
/.vs/MessagingServer/DesignTimeBuild/.dtbcache
/.vs/MessagingServer/v16/.suo
/.vs/MessagingServer/v16/Server/sqlite3/db.lock
/.vs/MessagingServer/v16/Server/sqlite3/storage.ide
/.vs/MessagingServer/v16/Server/sqlite3/storage.ide-shm
/.vs/MessagingServer/v16/Server/sqlite3/storage.ide-wal
/MessagingClient/bin/Debug/MessagingClient.exe
/MessagingClient/bin/Debug/MessagingClient.exe.config
/MessagingClient/bin/Debug/MessagingClient.pdb
/MessagingClient/bin/Debug/Microsoft.Azure.Services.AppAuthentication.dll
/MessagingClient/bin/Debug/Microsoft.Azure.Services.AppAuthentication.xml
/MessagingClient/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
/MessagingClient/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.xml
/MessagingClient/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/MessagingClient/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
/MessagingClient/bin/Debug/Microsoft.Rest.ClientRuntime.dll
/MessagingClient/bin/Debug/Microsoft.Rest.ClientRuntime.xml
/MessagingClient/bin/Debug/Microsoft.ServiceBus.dll
/MessagingClient/bin/Debug/Microsoft.ServiceBus.xml
/MessagingClient/bin/Debug/Microsoft.WindowsAPICodePack.Shell.dll
/MessagingClient/bin/Debug/Microsoft.WindowsAPICodePack.Shell.xml
/MessagingClient/bin/Debug/Microsoft.WindowsAPICodePack.dll
/MessagingClient/bin/Debug/Microsoft.WindowsAPICodePack.xml
/MessagingClient/bin/Debug/Newtonsoft.Json.dll
/MessagingClient/bin/Debug/Newtonsoft.Json.xml
/MessagingClient/bin/Debug/System.IdentityModel.Tokens.Jwt.dll
/MessagingClient/bin/Debug/System.IdentityModel.Tokens.Jwt.xml
/MessagingClient/obj/Debug/App.g.cs
/MessagingClient/obj/Debug/App.g.i.cs
/MessagingClient/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MessagingClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MessagingClient/obj/Debug/MainWindow.baml
/MessagingClient/obj/Debug/MainWindow.g.cs
/MessagingClient/obj/Debug/MainWindow.g.i.cs
/MessagingClient/obj/Debug/MessagingClient.Properties.Resources.resources
/MessagingClient/obj/Debug/MessagingClient.csproj.CopyComplete
/MessagingClient/obj/Debug/MessagingClient.csproj.CoreCompileInputs.cache
/MessagingClient/obj/Debug/MessagingClient.csproj.FileListAbsolute.txt
/MessagingClient/obj/Debug/MessagingClient.csproj.GenerateResource.cache
/MessagingClient/obj/Debug/MessagingClient.csprojAssemblyReference.cache
/MessagingClient/obj/Debug/MessagingClient.exe
/MessagingClient/obj/Debug/MessagingClient.g.resources
/MessagingClient/obj/Debug/MessagingClient.pdb
/MessagingClient/obj/Debug/MessagingClient_MarkupCompile.cache
/MessagingClient/obj/Debug/MessagingClient_MarkupCompile.i.cache
/MessagingClient/obj/Debug/MessagingClient_MarkupCompile.lref
/packages/Microsoft.Azure.Services.AppAuthentication.1.0.3/.signature.p7s
/packages/Microsoft.Azure.Services.AppAuthentication.1.0.3/Microsoft.Azure.Services.AppAuthentication.1.0.3.nupkg
/packages/Microsoft.Azure.Services.AppAuthentication.1.0.3/build/Microsoft.Azure.Services.AppAuthentication.targets
/packages/Microsoft.Azure.Services.AppAuthentication.1.0.3/lib/net452/Microsoft.Azure.Services.AppAuthentication.dll
/packages/Microsoft.Azure.Services.AppAuthentication.1.0.3/lib/net452/Microsoft.Azure.Services.AppAuthentication.runtimeconfig.json
/packages/Microsoft.Azure.Services.AppAuthentication.1.0.3/lib/net452/Microsoft.Azure.Services.AppAuthentication.xml
/packages/Microsoft.Azure.Services.AppAuthentication.1.0.3/lib/netstandard1.4/Microsoft.Azure.Services.AppAuthentication.dll
/packages/Microsoft.Azure.Services.AppAuthentication.1.0.3/lib/netstandard1.4/Microsoft.Azure.Services.AppAuthentication.runtimeconfig.json
/packages/Microsoft.Azure.Services.AppAuthentication.1.0.3/lib/netstandard1.4/Microsoft.Azure.Services.AppAuthentication.xml
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/.signature.p7s
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2.nupkg
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/MonoAndroid10/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.XML
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/MonoAndroid10/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/MonoAndroid10/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/MonoAndroid10/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/Xamarin.iOS10/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.XML
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/Xamarin.iOS10/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/Xamarin.iOS10/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/Xamarin.iOS10/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/net45/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.XML
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/net45/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/net45/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/net45/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/netcore45/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.XML
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/netcore45/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/netcore45/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/netcore45/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/netstandard1.3/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/netstandard1.3/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/netstandard1.3/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/portable-net45+win/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.14.2/lib/portable-net45+win/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
/packages/Microsoft.Rest.ClientRuntime.2.3.20/.signature.p7s
/packages/Microsoft.Rest.ClientRuntime.2.3.20/Microsoft.Rest.ClientRuntime.2.3.20.nupkg
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/net452/Microsoft.Rest.ClientRuntime.dll
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/net452/Microsoft.Rest.ClientRuntime.runtimeconfig.json
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/net452/Microsoft.Rest.ClientRuntime.xml
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/net461/Microsoft.Rest.ClientRuntime.dll
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/net461/Microsoft.Rest.ClientRuntime.runtimeconfig.json
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/net461/Microsoft.Rest.ClientRuntime.xml
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/netstandard1.4/Microsoft.Rest.ClientRuntime.dll
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/netstandard1.4/Microsoft.Rest.ClientRuntime.runtimeconfig.json
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/netstandard1.4/Microsoft.Rest.ClientRuntime.xml
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/netstandard2.0/Microsoft.Rest.ClientRuntime.dll
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/netstandard2.0/Microsoft.Rest.ClientRuntime.runtimeconfig.json
/packages/Microsoft.Rest.ClientRuntime.2.3.20/lib/netstandard2.0/Microsoft.Rest.ClientRuntime.xml
/packages/Newtonsoft.Json.10.0.3/.signature.p7s
/packages/Newtonsoft.Json.10.0.3/LICENSE.md
/packages/Newtonsoft.Json.10.0.3/Newtonsoft.Json.10.0.3.nupkg
/packages/Newtonsoft.Json.10.0.3/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.10.0.3/tools/install.ps1
/packages/System.IdentityModel.Tokens.Jwt.4.0.4.403061554/.signature.p7s
/packages/System.IdentityModel.Tokens.Jwt.4.0.4.403061554/System.IdentityModel.Tokens.Jwt.4.0.4.403061554.nupkg
/packages/System.IdentityModel.Tokens.Jwt.4.0.4.403061554/lib/net45/System.IdentityModel.Tokens.Jwt.Xml
/packages/System.IdentityModel.Tokens.Jwt.4.0.4.403061554/lib/net45/System.IdentityModel.Tokens.Jwt.dll
/packages/WindowsAPICodePack-Core.1.1.1/.signature.p7s
/packages/WindowsAPICodePack-Core.1.1.1/WindowsAPICodePack-Core.1.1.1.nupkg
/packages/WindowsAPICodePack-Core.1.1.1/lib/Microsoft.WindowsAPICodePack.dll
/packages/WindowsAPICodePack-Core.1.1.1/lib/Microsoft.WindowsAPICodePack.xml
/packages/WindowsAPICodePack-Shell.1.1.1/.signature.p7s
/packages/WindowsAPICodePack-Shell.1.1.1/WindowsAPICodePack-Shell.1.1.1.nupkg
/packages/WindowsAPICodePack-Shell.1.1.1/lib/Microsoft.WindowsAPICodePack.Shell.dll
/packages/WindowsAPICodePack-Shell.1.1.1/lib/Microsoft.WindowsAPICodePack.Shell.xml
/packages/WindowsAzure.ServiceBus.6.0.0/.signature.p7s
/packages/WindowsAzure.ServiceBus.6.0.0/WindowsAzure.ServiceBus.6.0.0.nupkg
/packages/WindowsAzure.ServiceBus.6.0.0/content/app.config.install.xdt
/packages/WindowsAzure.ServiceBus.6.0.0/content/web.config.install.xdt
/packages/WindowsAzure.ServiceBus.6.0.0/lib/net462/Microsoft.ServiceBus.dll
/packages/WindowsAzure.ServiceBus.6.0.0/lib/net462/Microsoft.ServiceBus.xml
/LogHelper/bin/Debug/netstandard2.0/LogHelper.deps.json
/LogHelper/bin/Debug/netstandard2.0/LogHelper.dll
/LogHelper/bin/Debug/netstandard2.0/LogHelper.pdb
/LogHelper/obj/Debug/netstandard2.0/LogHelper.AssemblyInfo.cs
/LogHelper/obj/Debug/netstandard2.0/LogHelper.AssemblyInfoInputs.cache
/LogHelper/obj/Debug/netstandard2.0/LogHelper.assets.cache
/LogHelper/obj/Debug/netstandard2.0/LogHelper.csproj.CoreCompileInputs.cache
/LogHelper/obj/Debug/netstandard2.0/LogHelper.csproj.FileListAbsolute.txt
/LogHelper/obj/Debug/netstandard2.0/LogHelper.csprojAssemblyReference.cache
/LogHelper/obj/Debug/netstandard2.0/LogHelper.dll
/LogHelper/obj/Debug/netstandard2.0/LogHelper.pdb
/LogHelper/obj/LogHelper.csproj.nuget.cache
/LogHelper/obj/LogHelper.csproj.nuget.dgspec.json
/LogHelper/obj/LogHelper.csproj.nuget.g.props
/LogHelper/obj/LogHelper.csproj.nuget.g.targets
/LogHelper/obj/project.assets.json
/MessageServer/bin/Debug/LogHelper.dll
/MessageServer/bin/Debug/LogHelper.pdb
/MessageServer/bin/Debug/ServiceBusHelper.dll
/MessageServer/bin/Debug/ServiceBusHelper.pdb
/MessageServer/bin/Debug/Topshelf.dll
/MessageServer/bin/Debug/Topshelf.xml
/MessagingClient/bin/Debug/LogHelper.dll
/MessagingClient/bin/Debug/LogHelper.pdb
/MessagingClient/bin/Debug/ServiceBusHelper.dll
/MessagingClient/bin/Debug/ServiceBusHelper.pdb
/MessagingClient/obj/Debug/MessagingClient_MarkupCompile.i.lref
/ServiceBusHelper/bin/Debug/LogHelper.dll
/ServiceBusHelper/bin/Debug/LogHelper.pdb
/ServiceBusHelper/bin/Debug/Microsoft.Azure.Services.AppAuthentication.dll
/ServiceBusHelper/bin/Debug/Microsoft.Azure.Services.AppAuthentication.xml
/ServiceBusHelper/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
/ServiceBusHelper/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.xml
/ServiceBusHelper/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/ServiceBusHelper/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
/ServiceBusHelper/bin/Debug/Microsoft.Rest.ClientRuntime.dll
/ServiceBusHelper/bin/Debug/Microsoft.Rest.ClientRuntime.xml
/ServiceBusHelper/bin/Debug/Microsoft.ServiceBus.dll
/ServiceBusHelper/bin/Debug/Microsoft.ServiceBus.xml
/ServiceBusHelper/bin/Debug/Newtonsoft.Json.dll
/ServiceBusHelper/bin/Debug/Newtonsoft.Json.xml
/ServiceBusHelper/bin/Debug/ServiceBusHelper.dll
/ServiceBusHelper/bin/Debug/ServiceBusHelper.pdb
/ServiceBusHelper/bin/Debug/System.IdentityModel.Tokens.Jwt.dll
/ServiceBusHelper/bin/Debug/System.IdentityModel.Tokens.Jwt.xml
/ServiceBusHelper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ServiceBusHelper/obj/Debug/ServiceBusHelper.csproj.CopyComplete
/ServiceBusHelper/obj/Debug/ServiceBusHelper.csproj.CoreCompileInputs.cache
/ServiceBusHelper/obj/Debug/ServiceBusHelper.csproj.FileListAbsolute.txt
/ServiceBusHelper/obj/Debug/ServiceBusHelper.csprojAssemblyReference.cache
/ServiceBusHelper/obj/Debug/ServiceBusHelper.dll
/ServiceBusHelper/obj/Debug/ServiceBusHelper.pdb
/ServiceBusHelper/obj/Debug/netstandard2.0/ServiceBusHelper.AssemblyInfo.cs
/ServiceBusHelper/obj/Debug/netstandard2.0/ServiceBusHelper.AssemblyInfoInputs.cache
/packages/Topshelf.4.2.1/.signature.p7s
/packages/Topshelf.4.2.1/Topshelf.4.2.1.nupkg
/packages/Topshelf.4.2.1/lib/net452/Topshelf.dll
/packages/Topshelf.4.2.1/lib/net452/Topshelf.xml
/packages/Topshelf.4.2.1/lib/netstandard2.0/Topshelf.dll
/packages/Topshelf.4.2.1/lib/netstandard2.0/Topshelf.xml
